* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(13, 13, 13);
}

.container {
    height: 0;
    padding-bottom: calc(315 / 560 * 100%);
    position: relative;
    width: 100%;
}

.container iframe {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);

    width: 30%;
    height: 30%;
}

.container p {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
}